
table {
  border-collapse: collapse; /* Combines borders for adjacent cells */
}

/* Borders for all cells */
td, th {
  border: 1px solid black; /* Adjust color and width as needed */
}

/* Optional: Highlight table header */
th {
  background-color: lightgray; /* Adjust color as needed */
}

.App {
  text-align: center;
}

.centered{
  width: 50%; /* Or any desired width */
  margin: 0 auto;
  border: 1px solid blue;
  text-align: center; 
}
 .Select-container {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1em;
  margin: 1em auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 1em;

} 

H3 {
  font-weight: bold;
  margin-bottom: 0.5em;
}

  Label {
  display: block;
  margin-bottom: 0.5em;
}

Select {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
}

Button {
  margin: 1em auto;
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
}

.Recommendation-table {
  width: 100%;
  border-collapse: collapse;
}

.Recommendation-table th,
.Recommendation-table td {
  border: 1px solid #ddd;
  padding: 0.5em;
}

.Recommendation-table th {
  font-weight: bold;
  text-align: left;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
